<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anbaotong.mapper.BaikeMapper">

    <resultMap id="BaseResultMap" type="baikebean" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
        <result column="desc_info" property="descInfo" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, title, type, content, image
    </sql>



    <!--插入案例表-->
    <insert id="insertBaike" parameterType="baikebean" >
        insert into baike (id, title, type,content,desc_info)
        values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
            #{content,jdbcType=LONGVARCHAR},#{descInfo,jdbcType=VARCHAR})
    </insert>
    <!--插入图片表-->
    <insert id="insertImage" parameterType="imagebean" >
        insert into image (foreign_id, ori_img_name, new_img_name,
            img_url, status, href
            )
        values (#{foreignId,jdbcType=VARCHAR}, #{oriImgName,jdbcType=VARCHAR}, #{newImgName,jdbcType=VARCHAR},
            #{imgUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{href,jdbcType=VARCHAR}
            )
    </insert>
    <!--查询百科列表-->
    <select id="selectBaikeListByType" resultType="map" parameterType="baikebean" >
       select a.title,i.img_url imgUrl,a.id,a.desc_info descInfo
       from baike a left join image i on a.id=i.foreign_id
        where a.type = #{type}
        order by a.time desc
    </select>

    <!--查询案例详情-->
    <select id="getBaikeDetail" resultMap="BaseResultMap" parameterType="java.lang.String" >
       select id, title, type, content,desc_info
       from baike
        where id = #{id}
    </select>



</mapper>